body {
    background-color: gainsboro;
}

#image_div {
    display: flex;
    justify-content: center;

}

#album {
    height: 20rem;
    width: 50rem;
    border: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px;
}

#cast {
    padding-right: 17rem;
    font-size: 17px;
    display: flex;
    justify-content: center;

}

#kithakithalu {
    padding-right: 6rem;
}

#Anji {
    padding-right: 2.5rem;
}

#Aparichitudu {
    padding-right: 3rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#first {
    list-style-type: none;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: left;
    margin-left: -18px;
}

#story {
    width: 60%;
    margin-left: 17rem;
    font-size: 17px;
}

#second {
    margin-bottom: 15px;
    font-size: 25px;
}

#para {
    margin-top: 0px;
    font-size: 17px;
}

hr {
    width: 90%;
}