.Container {
    margin-top: 10px;
}
#list {
    bottom: 10px;
    width: 65%;
}
p {
    padding-right: 13rem;
    float: right;
    width:45%;
    font-size: 17px;
}
img {
    margin-top: 19px;
    border: 1px black;
    border-radius: 10px;
}
