body {
    background-color: gainsboro;
}

#image_div {
    display: flex;
    justify-content: center;

}

#album {
    height: 20rem;
    width: 50rem;
    border: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px;
}

#cast {
    width: 80%;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    width: 59%;
    margin-left: 285px;
    font-size: 17px;
}

#first {
    list-style-type: none;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: left;
    margin-left: -18px;
}

#second {
    margin-bottom: 15px;
    font-size: 25px;
}

#story {
    margin-top: 0;
    margin-left: 0;

}

#para {
    margin-top: 0px;
}

hr {
    width: 90%;
}